name: GitHub Classroom Workflow
on:
  push:
    branches:
      - master
      - develop
jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0    
        
      - name: Build
        uses: tinted-theming/base16-builder-go@v0.2.3

        
      - name: Deploy project
        uses: akhileshns/heroku-deploy@v3.4.6
        with:
          heroku_api_key: 39c7221c-3760-4ee1-9b68-d52ac0a3dfc8
          heroku_app_name: dr-starlands-rsoi
          heroku_email: viktor.goryachev.00@mail.ru
          usedocker: true

      - name: Autograding
        uses: education/autograding@v1
        continue-on-error: true

      - name: Github auto grader mark
        uses: Romanow/google-sheet-autograder-marker@v1.0
        with:
          google_token: ${{secrets.GOOGLE_API_KEY}}
          sheet_id: "1xkgjUX6Qmk7rdJG-QPOToav-HWWtthJjnShIKnw3oIY"
          homework_number: 1
          user_column: 'D'
          column_offset: 'F'
          mark: "'+"
